@page "/clients"
@using Zwedze.Demo.Blazor.Web.Providers
@using Zwedze.Demo.Blazor.Web.Components
@using Zwedze.Demo.Blazor.Web.Components.Clients

@inject IClientApiProvider ClientApiProvider
@inject NavigationManager NavigationManager

<PageTitle>Blazor Demo :: Clients</PageTitle>

<h3 class="text-xl tracking-light font-bold leading-none text-gray-100 pb-2 mb-4 border-b-2 border-b-pink-500">Clients</h3>

<div class="flex space-x-2 justify-end py-2">
    <div>
        <ConfirmationModal ModalTitle="Create client.">
            <ButtonTemplate>
                <Button Type="Button.ButtonType.Light" Rounded="true" HasText="true">
                    <Content><i class="fas fa-plus mr-2"></i> Create client</Content>
                </Button>
            </ButtonTemplate>
            <ModalContent>
                <CreateClient></CreateClient>
            </ModalContent>
        </ConfirmationModal>
    </div>
</div>

<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th></th>
            <th class="py-3 px-6">Id</th>
            <th class="py-3 px-6">Name</th>
            <th class="py-3 px-6">Country</th>
            <th class="py-3 px-6">City</th>
            <th class="py-3 px-6">PostCode</th>
            <th class="py-3 px-6">Street</th>
            <th class="py-3 px-6">StreetNumber</th>
            <th class="py-3 px-6">Phone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var client in _clients)
        {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6">
                    <Button Rounded="true" Type="Button.ButtonType.Light" OnClick="() => ViewClient(client.ClientId)">
                        <Content>
                            <i class="fas fa-eye"></i>
                        </Content>
                    </Button>
                </td>
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    @client.ClientId.Id
                </th>
                <td class="py-4 px-6">
                    @client.Name
                </td>
                <td class="py-4 px-6">
                    @client.Address.Country
                </td>
                <td class="py-4 px-6">
                    @client.Address.City
                </td>
                <td class="py-4 px-6">
                    @client.Address.PostCode
                </td>
                <td class="py-4 px-6">
                    @client.Address.Street
                </td>
                <td class="py-4 px-6">
                    @client.Address.StreetNumber
                </td>
                <td class="py-4 px-6">
                    @client.Phone
                </td>
                <td class="py-4 px-6">
                    <button type="button" class="inline-block rounded-full bg-blue-400 text-white leading-normal uppercase shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out w-9 h-9">
                        <i class="fas fa-pencil"></i>
                    </button>
                    <button type="button" class="inline-block rounded-full bg-red-600 text-white leading-normal uppercase shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out w-9 h-9">
                        <i class="fas fa-minus"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>